$white: #fff;
$ghost-white: #F7F9FF;
$solitude: #EBEEF7;
$alice-blue: #F3F6F8;
$hawkes-blue: #DCDFE8;
$echo-blue: #B7BBC7;
$manatee: #878A99;
$bright-grey: #525666;
$pattens-blue: #DAEAF4;
$midnight-express: #262B40;
$sapphire: #0F1E57;
$medium-slate-blue: #6A6DE2;
$royal-blue: #4F73FF;
$maya-blue: #65D2FD;
$tomato: #F26344;
$bittersweet: #FF6B5F;
$sandy-brown: #FAA467;
$golden-poppy: #FFC500;
$medium-spring-green: #00EEAD;